
.swiper-container {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.swiper-slide {
  flex: 0 0 auto;
  width: 100%;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  width: 150px;
}

button {
  padding: 8px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: black;
  }
}
