<div class="row">
  <!-- [ sample-page ] start -->

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Total Payement</h6>
        <h4 class="mb-3" *ngIf="dashbord">
          {{dashbord.TotalPayement}}

        </h4>

      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Total User</h6>
        <h4 class="mb-3">
          {{dashbord.TotalUser}}
        </h4>

      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Total Category</h6>
        <h4 class="mb-3">
          {{dashbord.TotalCategory}}

        </h4>

      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Total Reclamation</h6>
        <h4 class="mb-3">
          {{dashbord.TotalReclamation}}

        </h4>

      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-8">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">Unique Visitor</h5>
      <ul ngbNav aria-busy="true" #nav="ngbNav" class="nav-pills justify-content-end mb-0"
        (navChange)="onNavChange($event)">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Week</a>
          <ng-template ngbNavContent>
            <div id="visitor-chart"></div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Month</a>
          <ng-template ngbNavContent>
            <div id="visitor-chart-1"></div>
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="card-body">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Income Overview</h5>
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-600 text-muted">This Reclamation Statistics </h6>

        <apx-chart [series]="datacoutReclamationByDate" [chart]="chartOptions_4.chart"
          [plotOptions]="chartOptions_4.plotOptions" [dataLabels]="chartOptions_4.dataLabels"
          [xaxis]="labelcoutReclamationByDate" [colors]="chartOptions_4.colors" [stroke]="chartOptions_4.stroke"
          [yaxis]="chartOptions_4.yaxis" [grid]="chartOptions_4.grid"></apx-chart>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Recent Reclamation</h5>
    <div class="card tbl-card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-borderless mb-0">
            <thead>
              <tr>
                <th>NO.</th>
                <th>Description</th>
                <th>created Date</th>
                <th>treated</th>

              </tr>
            </thead>
            <tbody *ngIf="dashbord.LastReclamation">

              <tr *ngFor="let item of dashbord.LastReclamation; index as i">
                <td>
                  <a href="javascript:" class="text-muted">{{ i }}</a>
                </td>
                <td>{{ item.description }}</td>
                <td>{{ item.createdDate }}</td>
                <td>{{ item.treated ? "traiter" : "non traiter" }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Last Produit</h5>
    <div class="card">
      <div class="list-group list-group-flush" *ngIf="dashbord.LastProduit">
        <a href="javascript:" *ngFor="let item of dashbord.LastProduit; index as i"
          class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
          {{item.name}}<span class="h5 mb-0"> {{item.price}}</span>
        </a>

      </div>

    </div>
  </div>

  <div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Produits Report</h5>
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">This Produits Statistics</h6>
        <apx-chart [series]="dataProduit" [chart]="chartOptions_6.chart" [dataLabels]="chartOptions_6.dataLabels"
          [legend]="chartOptions_6.legend" [xaxis]="labelcoutProduit" [colors]="chartOptions_6.colors"
          [stroke]="chartOptions_6.stroke" [plotOptions]="chartOptions_6.plotOptions"></apx-chart>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Last Donation</h5>
    <div class="card">
      <div class="list-group list-group-flush" *ngIf="dashbord.lastDonation">

        <a href="javascript:" class="list-group-item list-group-item-action"
          *ngFor="let item of dashbord.lastDonation; index as i">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <div class="avtar avtar-s rounded-circle ">
                {{ item.payement }}
              </div>
            </div>
            <div class="flex-grow-1 ms-3">
              <h6 class="mb-1">{{ item.firstName }}</h6>
              <p class="mb-0 text-muted">{{ item.lastName }}</p>
            </div>
            <div class="flex-shrink-0 text-end">
              <h6 class="mb-1">{{ item.productId.name }}</h6>
              <p class="mb-0 text-muted">{{ item.productId.price }}</p>
            </div>
          </div>
        </a>

      </div>
    </div>

  </div>
  <!-- [ sample-page ] end -->
</div>