.product__area {
  background-color: #f9f9f9;

  .section__title {
    h2 {
      color: #333;
      font-size: 24px;
    }
  }

  .category-link {
    text-decoration: none;
  }

  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px; /* Adjust according to your layout */

    .item {
      flex: 0 0 calc(33.33% - 30px); /* Adjust based on the number of items you want to display */
      margin: 15px; /* Adjust spacing between items */

      .category-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      }

      .category-image {
        text-align: center;
        padding: 20px 0;

        img {
          width: 120px;
          height: 120px;
        }
      }

      .category-info {
        padding: 20px;

        .category-name {
          font-size: 18px;
          margin-top: 10px;
          color: #333;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .category-list {
      .item {
        flex-basis: calc(50% - 30px);
      }
    }
  }
}
