<section class="footer__area footer-bg" [class.box-m-15]="box_style">
  <div class="footer__top pt-50 pb-30">
    <div class="container">

    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7">
          <div class="footer__copyright">
            <p>Copyright © <a routerLink="/home/home-style-1">CoinProfit</a> all rights reserved. Powered by
              <a routerLink="/home/home-style-1">Theme_pure</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
