<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add Roulette Chance</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="wheel-container">
    <div class="wheel">
      <div class="spinner"></div>
    </div>
  </div>
  <form (submit)="onSubmit()">
    <div>
      <label>Fill Style:</label>
      <input type="color" [(ngModel)]="formData.fillStyle" name="fillStyle" required>
    </div>
    <div>
      <label>Text:</label>
      <input type="text" [(ngModel)]="formData.text" name="text" required>
    </div>
    <div>
      <label>Text Fill Style:</label>
      <input type="color" [(ngModel)]="formData.textFillStyle" name="textFillStyle" required>
    </div>
    <div>
      <label>Text Font Size:</label>
      <input type="number" [(ngModel)]="formData.textFontSize" name="textFontSize" required>
    </div>
    <button  class="btn btn-primary"  type="submit">Save changes</button>

  </form>
</div>
